# Entorno
NODE_ENV=development

# Puerto del servidor
PORT=3001

# Base de Datos
DATABASE_URL="postgresql://user:password@host:port/db_name?schema=public"

# Seguridad
JWT_SECRET="your_secret_key"
JWT_EXPIRES_IN="1d"

# Google Auth
GOOGLE_CLIENT_ID=""
